<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tfs.mkaratusi.mkaratusi">

    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity"></activity>
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TPActivity"
            android:label="@string/title_activity_tp" />
        <activity
            android:name=".activities.BillActivity"
            android:label="@string/title_activity_bill"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TransitpassActivity"
            android:label="@string/title_activity_transitpass"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TransitpassRouteActivity"
            android:label="@string/title_activity_transitpass_route"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activities.ProductDetailActivity"
            android:label="@string/title_activity_product_detail"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>